go 1.23.0

use (
	./customCICDTool
	./dockerEngineApiClient
        ./basicCalculatorToExploreCobra
        ./harvesterNavigator
        ./pixieDocs
        ./goMethodsStructs
        ./kubeMetricsWithNode
)
