go 1.24.2 

use (
	./customCICDTool
	./dockerEngineApiClient
        ./basicCalculatorToExploreCobra
        ./harvesterNavigator
        ./pixieDocs
        ./goMethodsStructs
        ./kubeMetricsWithNode
        ./embeddingArticle
)
